[submodule "Appium-HCP"]
	path = Appium-HCP
	url = https://github.com/FastQuagga/appium-hcp
[submodule "Appium-HCP-Driver"]
	path = Appium-HCP-Driver
	url = https://github.com/FastQuagga/appium-hcp-driver
[submodule "Appium"]
	path = Appium
	url = https://github.com/FastQuagga/appium
[submodule "Appium-DotNet-Driver"]
	path = Appium-DotNet-Driver
	url = https://github.com/FastQuagga/appium-dotnet-driver
[submodule "Appium-Base-Driver"]
	path = Appium-Base-Driver
	url = https://github.com/FastQuagga/appium-base-driver
[submodule "Requisition"]
	path = Requisition
	url = https://github.com/FastQuagga/requisition
[submodule "Appium-Dot-Exe"]
	path = Appium-Dot-Exe
	url = https://github.com/FastQuagga/appium-dot-exe
[submodule "Appium-Android-Driver"]
	path = Appium-Android-Driver
	url = ../../FastQuagga/appium-android-driver
[submodule "Appium-Android-Bootstrap"]
	path = Appium-Android-Bootstrap
url=https://github.com/appium/appium-android-bootstrap
[submodule "Appium-IOS-Driver"]
	path = Appium-IOS-Driver
	url = https://github.com/FastQuagga/appium-ios-driver
[submodule "Appium-Dot-App"]
	path = Appium-Dot-App
	url = https://github.com/FastQuagga/appium-dot-app
[submodule "SpecFlow"]
	path = SpecFlow
	url = https://github.com/FastQuagga/SpecFlow
[submodule "Appium-UIAutomator2-Driver"]
	path = Appium-UIAutomator2-Driver
	url = https://github.com/FastQuagga/appium-uiautomator2-driver
[submodule "Appium-XCUITest-Driver"]
	path = Appium-XCUITest-Driver
	url = https://github.com/FastQuagga/appium-xcuitest-driver
[submodule "Appium-UnityTest"]
	path = Appium-UnityTest
	url = https://github.com/FastQuagga/appium-unity-test
[submodule "Appium-Unity"]
	path = Appium-Unity
	url = https://github.com/FastQuagga/appium-unity
[submodule "Appium-UnityEditor-Driver"]
	path = Appium-UnityEditor-Driver
	url = https://github.com/FastQuagga/appium-unityeditor-driver.git